.btn {
    padding: 5px 20px;


    border: 1px solid var(--light);
    cursor: pointer;
}

.btn:hover {
    border-color: #fff;
}

.dark {
    border: 1px solid var(--dark);
}

.dark:hover {
    border-color: #000;
}