.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 20px 0;
    
    color: var(--light);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}